body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background: linear-gradient(to top, #6699ff, #ccffff);
}

#scoreboard {
    box-sizing: border-box;
    height: 10%;
    margin: 0;
    padding: 1em 0 0 0;
    text-align: center;
    font-family: sans-serif;
}

main {
    height: 90%;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    main {
        padding: 0 5vw;
    }
}
@media screen and (min-width: 1200px) {
    main {
        padding: 0 calc( (100vw - 1100px) / 2);
    }
}



div.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    --mole-height: 6em;
    --hole-height: 4em;

    height: calc( var(--mole-height) + var(--hole-height) )
}
@media screen and (max-width: 800px) {
    div.area {
        flex-basis: 50%;
    }
}
@media screen and (min-width: 800px) {
    div.area {
        flex-basis: 30%;
    }
}

div.mole {
    background-image: url('images/mole.png');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    box-sizing: border-box;
    height: var(--mole-height);
    width: 110px;

    /* position:relative;
    left: 50%;
    transform: translateX(-50%); */
    z-index: 1;

    margin-top: var(--mole-height);
    transition: all 0.3s;
}

div.mole-active {
    margin-top: 0;
}

div.mole-whacked {
    background-image: url('images/whacked-mole.png');
    animation: wobble 0.75s;
}

div.hole {
    background-image: url('images/mound.png');
    background-size: 100% 100%;

    height: var(--hole-height);
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-45deg);
    }
    66% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

