body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



div.area {
    flex-basis: 33%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    --mole-height: 3em;
    --hole-height: 2em;

    height: calc( var(--mole-height) + var(--hole-height) )
}

div.mole {
    --height: var(--mole-height);

    background: brown;
    height: var(--height);
    width: 1em;

    position:relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    margin-top: var(--height);
    transition: all 0.2s;
}

div.hole {
    --height: var(--hole-height);

    background: lightsalmon;
    height: var(--height);
    width: 4em;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
